/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f4f4f4;
}

/* Стили для шапки */
header {
    background-color: #222;
    padding: 20px 0;
    color: #f4f4f4;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 28px;
    margin-left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #ffa500;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

/* Главная секция */
#home {
    background-color: #333;
    padding: 40px 0;
}
#home h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
#home p {
    text-align: center;
    font-size: 18px;
}

/* Секции мастеров */
#masters {
    padding: 40px 0;
    background-color: #444;
}
#masters h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    background-color: #555;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card h3 {
    font-size: 24px;
    margin: 15px 0;
}
.card p {
    font-size: 18px;
    margin-bottom: 15px;
}
.card a {
    text-decoration: none;
    color: #ffa500;
    font-weight: bold;
}
.card a:hover {
    text-decoration: underline;
}

/* Секция контактов */
#contacts {
    background-color: #333;
    padding: 40px 0;
}
#contacts h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}
form input, form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #666;
    background-color: #555;
    color: #f4f4f4;
}
form button {
    padding: 15px;
    font-size: 18px;
    background-color: #ffa500;
    color: #1c1c1c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
form button:hover {
    background-color: #ffcc33;
}

/* Стили для подвала */
footer {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}
footer p {
    font-size: 16px;
}
